[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GERRIT-odt
[access "refs/for/refs/*"]
	read = group user/GERRIT-odt
	push = group user/GERRIT-odt
	label-Code-Review = -2..+2 group user/GERRIT-odt
	label-Verified = -1..+1 group user/GERRIT-odt
	rebase = group user/GERRIT-odt
	removeReviewer = group user/GERRIT-odt
	submit = group user/GERRIT-odt
[access "refs/heads/*"]
	read = group user/GERRIT-odt
	create = group user/GERRIT-odt
	push = +force group user/GERRIT-odt
	pushMerge = group user/GERRIT-odt
[access "refs/tags/*"]
	push = group user/GERRIT-odt
	push = +force group user/GERRIT-odt
